GIPHY_API_KEY=
UNSPLASH_API_KEY=
NASA_API_KEY=
# this is safe to keep on the frontend 
# https://developer.atlassian.com/cloud/trello/guides/rest-api/api-introduction/
TRELLO_API_KEY="d2939e042ae12bc2d144f82cbc9d3588"